<!DOCTYPE html>
<html>
<head>
    <title>Visualisation d'images</title>
</head>
<body>
    <h1>Visualisation d'images</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <input type="submit" value="Charger les images">
    </form>

    {% if images %}
    <h2>Images chargées</h2>
    <div class="image-container">
        {% for image in images %}
        <img class="vignette" src="static/uploads/{{image}}" alt="Image">
        {% endfor %}
    </div>
    {% endif %}
</body>
<style>
    .vignette{
        width: 10%;
        height: 10%;
    }
</style>
</html>
